@import './quasar.variables.styl'
@import '~quasar-styl'
// @import '~quasar-addon-styl'


.sincenir-center
    display flex
    justify-content center
    align-items center

.sincenir-left
    display flex
    justify-content start
    align-items start

// .sincenir-center
//     display flex
//     justify-content center
//     align-items center

.sincenir-blog 
  position relative
  width cacl(100vw - 17px)
  height 200px
  background-color $mainColor
